<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Lounge &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/lounge/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>W Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/w-lounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/w-lounge/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:52:55 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=129</guid>
		<description><![CDATA[‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place. Paesan were nominated for Restaurant &#38; Bar Awards as well as shortlisted for menu...]]></description>
				<content:encoded><![CDATA[<p>‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place.</p>
<p>Paesan were nominated for Restaurant &amp; Bar Awards as well as shortlisted for menu of the year, doing it all with the simple yet magic formula of aperitivo, small plates, pasta, carne and pesce.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/w-lounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">129</post-id>	</item>
		<item>
		<title>RIBA &#8211; The Rose Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/the-rose-lounge-2/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-rose-lounge-2/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:34:41 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=112</guid>
		<description><![CDATA[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.but also the leap into electronic...]]></description>
				<content:encoded><![CDATA[<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<p>Bt also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#8216;Content here, content here&#8217;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#8216;lorem ipsum&#8217; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected</p>
<p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-rose-lounge-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">112</post-id>	</item>
		<item>
		<title>House of Hackney</title>
		<link>https://inventory.jeweltheme.com/listings/house-of-hackney/</link>
		<comments>https://inventory.jeweltheme.com/listings/house-of-hackney/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:24:43 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=124</guid>
		<description><![CDATA[The Quarter Bar &#38; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter. Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &#38; Lounge seats up to 70 people. Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of...]]></description>
				<content:encoded><![CDATA[<p>The Quarter Bar &amp; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter.</p>
<p>Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &amp; Lounge seats up to 70 people.</p>
<p>Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of platters (English cheeses, Italian, Indian &amp; Asian) to small dishes of vegetarian, fish, seafood and meat options &#8211; perfect for sharing.</p>
<p>Perennial favourites such as cakes and pastries, sandwiches and salads, will be served, alongside Quarter Bar&#8217;s very own beef burger, Club Sandwich and Afternoon Tea.</p>
<p>Come the cocktail hour, the classics come into prominence (Cosmopolitan, Whisky Sour, Mojito, Side Car etc.), side by side with champagne cocktails and seasonally changed specials, taking inspiration from the fresh, market produce of nearby Borough Market &#8211; London&#8217;s most famous gastronomic oasis.</p>
<p>A full bar is of course available with soft drinks, a range of Tea Forté teas, hot chocolate and coffees served by specially trained baristas.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/house-of-hackney/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">124</post-id>	</item>
		<item>
		<title>The Rose Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/the-rose-lounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-rose-lounge/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 11:34:02 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=111</guid>
		<description><![CDATA[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.but also the leap into electronic...]]></description>
				<content:encoded><![CDATA[<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<p>Bt also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#8216;Content here, content here&#8217;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#8216;lorem ipsum&#8217; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected</p>
<p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-rose-lounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">111</post-id>	</item>
		<item>
		<title>The Knightsbridge Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/the-knightsbridge-lounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-knightsbridge-lounge/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 19:23:05 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=96</guid>
		<description><![CDATA[An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens...]]></description>
				<content:encoded><![CDATA[<p>An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens of Hyde Park.</p>
<p>An utterly relaxing and elegant retreat in the heart of Knightsbridge, here you can steep in the experience all afternoon &#8211; and into the evening too. At dusk, the luminous chandeliers are dimmed for an intimate glass of champagne.</p>
<p>Here, you can drift into a different world and expect service with an emphasis on good old-fashioned hospitality with a modern touch.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-knightsbridge-lounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">96</post-id>	</item>
	</channel>
</rss>
