<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Pricing &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/pricing/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>ULTIMATE PLAN</title>
		<link>https://inventory.jeweltheme.com/pricing/ultimate-plan/</link>
		<pubDate>Sun, 29 Jan 2017 18:51:45 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=pricing&#038;p=1892</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
		<post-id xmlns="com-wordpress:feed-additions:1">1892</post-id>	</item>
		<item>
		<title>PRO PLAN</title>
		<link>https://inventory.jeweltheme.com/pricing/pro-plan/</link>
		<pubDate>Sun, 29 Jan 2017 18:51:15 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=pricing&#038;p=1891</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
		<post-id xmlns="com-wordpress:feed-additions:1">1891</post-id>	</item>
		<item>
		<title>STANDARD PLAN</title>
		<link>https://inventory.jeweltheme.com/pricing/standard-plan/</link>
		<pubDate>Sun, 29 Jan 2017 18:48:18 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=pricing&#038;p=1889</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
		<post-id xmlns="com-wordpress:feed-additions:1">1889</post-id>	</item>
		<item>
		<title>BASIC PLAN</title>
		<link>https://inventory.jeweltheme.com/pricing/basic-pricing/</link>
		<pubDate>Sat, 28 Jan 2017 16:26:44 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=pricing&#038;p=1779</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
		<post-id xmlns="com-wordpress:feed-additions:1">1779</post-id>	</item>
	</channel>
</rss>
