<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Arts &amp; Entertainment &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/arts-entertainment/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>The Attendant</title>
		<link>https://inventory.jeweltheme.com/listings/the-attendant/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-attendant/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:51:55 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=128</guid>
		<description><![CDATA[Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware. It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to...]]></description>
				<content:encoded><![CDATA[<p>Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware.</p>
<p>It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to ethical suppliers and procurement. We have a broad range of experience managing change across a variety of organisations.</p>
<ul>
<li>Pan fried fillet of sea bream with soft fennel and fresh herb dressing, cucumber and sesame</li>
<li>Herb marinated Scottish beef fillet with roasted red pepper, salsa verde, broccoli</li>
<li>Pearl barley risotto with porcini and truffled herb mascarpone.</li>
</ul>
<p>For drinks, there&#8217;ll be a strong focus on biodynamic, carbon-neutral and traditional wines, organic spirits and mixers and plenty of cocktails.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-attendant/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">128</post-id>	</item>
		<item>
		<title>Cecconi&#8217;s Mayfair</title>
		<link>https://inventory.jeweltheme.com/listings/cecconis-mayfair/</link>
		<comments>https://inventory.jeweltheme.com/listings/cecconis-mayfair/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 11:02:39 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=108</guid>
		<description><![CDATA[Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware. It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to...]]></description>
				<content:encoded><![CDATA[<p>Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware.</p>
<p>It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to ethical suppliers and procurement. We have a broad range of experience managing change across a variety of organisations.</p>
<ul>
<li>Pan fried fillet of sea bream with soft fennel and fresh herb dressing, cucumber and sesame</li>
<li>Herb marinated Scottish beef fillet with roasted red pepper, salsa verde, broccoli</li>
<li>Pearl barley risotto with porcini and truffled herb mascarpone.</li>
</ul>
<p>For drinks, there&#8217;ll be a strong focus on biodynamic, carbon-neutral and traditional wines, organic spirits and mixers and plenty of cocktails.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/cecconis-mayfair/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">108</post-id>	</item>
		<item>
		<title>Royal Academy or Arts</title>
		<link>https://inventory.jeweltheme.com/listings/royal-academy-or-arts/</link>
		<comments>https://inventory.jeweltheme.com/listings/royal-academy-or-arts/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 20:43:33 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=101</guid>
		<description><![CDATA[Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton. Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds...]]></description>
				<content:encoded><![CDATA[<p>Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton.</p>
<p>Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds of fascinating specimens and look into laboratories where scientists are at work.</p>
<p>The Museum offers a wide-ranging programme of temporary exhibitions and events, including chances to join experts in the Darwin Centre’s high-tech Attenborough Studio in topical discussions about science and nature.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/royal-academy-or-arts/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">101</post-id>	</item>
	</channel>
</rss>
