<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bar &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/bar/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>London RIB Voyages</title>
		<link>https://inventory.jeweltheme.com/listings/london-rib-voyages/</link>
		<comments>https://inventory.jeweltheme.com/listings/london-rib-voyages/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:25:24 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=125</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/london-rib-voyages/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">125</post-id>	</item>
		<item>
		<title>The Haberdashery</title>
		<link>https://inventory.jeweltheme.com/listings/the-haberdashery/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-haberdashery/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 11:23:58 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=109</guid>
		<description><![CDATA[‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place. Paesan were nominated for Restaurant &#38; Bar Awards as well as shortlisted for menu...]]></description>
				<content:encoded><![CDATA[<p>‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place.</p>
<p>Paesan were nominated for Restaurant &amp; Bar Awards as well as shortlisted for menu of the year, doing it all with the simple yet magic formula of aperitivo, small plates, pasta, carne and pesce.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-haberdashery/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">109</post-id>	</item>
		<item>
		<title>Leather Bottle</title>
		<link>https://inventory.jeweltheme.com/listings/leather-bottle/</link>
		<comments>https://inventory.jeweltheme.com/listings/leather-bottle/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 10:52:59 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=104</guid>
		<description><![CDATA[The Quarter Bar &#38; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter. Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &#38; Lounge seats up to 70 people. Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of...]]></description>
				<content:encoded><![CDATA[<p>The Quarter Bar &amp; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter.</p>
<p>Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &amp; Lounge seats up to 70 people.</p>
<p>Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of platters (English cheeses, Italian, Indian &amp; Asian) to small dishes of vegetarian, fish, seafood and meat options &#8211; perfect for sharing.</p>
<p>Perennial favourites such as cakes and pastries, sandwiches and salads, will be served, alongside Quarter Bar&#8217;s very own beef burger, Club Sandwich and Afternoon Tea.</p>
<p>Come the cocktail hour, the classics come into prominence (Cosmopolitan, Whisky Sour, Mojito, Side Car etc.), side by side with champagne cocktails and seasonally changed specials, taking inspiration from the fresh, market produce of nearby Borough Market &#8211; London&#8217;s most famous gastronomic oasis.</p>
<p>A full bar is of course available with soft drinks, a range of Tea Forté teas, hot chocolate and coffees served by specially trained baristas.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/leather-bottle/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">104</post-id>	</item>
		<item>
		<title>Quarter Bar &#038; Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/quarter-bar-lounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/quarter-bar-lounge/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 20:25:55 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=99</guid>
		<description><![CDATA[The Quarter Bar &#38; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter. Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &#38; Lounge seats up to 70 people. Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of...]]></description>
				<content:encoded><![CDATA[<p>The Quarter Bar &amp; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter.</p>
<p>Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &amp; Lounge seats up to 70 people.</p>
<p>Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of platters (English cheeses, Italian, Indian &amp; Asian) to small dishes of vegetarian, fish, seafood and meat options &#8211; perfect for sharing.</p>
<p>Perennial favourites such as cakes and pastries, sandwiches and salads, will be served, alongside Quarter Bar&#8217;s very own beef burger, Club Sandwich and Afternoon Tea.</p>
<p>Come the cocktail hour, the classics come into prominence (Cosmopolitan, Whisky Sour, Mojito, Side Car etc.), side by side with champagne cocktails and seasonally changed specials, taking inspiration from the fresh, market produce of nearby Borough Market &#8211; London&#8217;s most famous gastronomic oasis.</p>
<p>A full bar is of course available with soft drinks, a range of Tea Forté teas, hot chocolate and coffees served by specially trained baristas.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/quarter-bar-lounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">99</post-id>	</item>
		<item>
		<title>Bar Boloud</title>
		<link>https://inventory.jeweltheme.com/listings/bar-boloud/</link>
		<comments>https://inventory.jeweltheme.com/listings/bar-boloud/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 19:35:09 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=97</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/bar-boloud/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">97</post-id>	</item>
	</channel>
</rss>
