<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Place &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/place/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>SkyLounge</title>
		<link>https://inventory.jeweltheme.com/listings/skylounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/skylounge/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:39:22 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=120</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/skylounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">120</post-id>	</item>
		<item>
		<title>Wembley Stadium</title>
		<link>https://inventory.jeweltheme.com/listings/wembley-stadium/</link>
		<comments>https://inventory.jeweltheme.com/listings/wembley-stadium/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:38:30 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=119</guid>
		<description><![CDATA[The Quarter Bar &#38; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter. Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &#38; Lounge seats up to 70 people. Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of...]]></description>
				<content:encoded><![CDATA[<p>The Quarter Bar &amp; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter.</p>
<p>Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &amp; Lounge seats up to 70 people.</p>
<p>Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of platters (English cheeses, Italian, Indian &amp; Asian) to small dishes of vegetarian, fish, seafood and meat options &#8211; perfect for sharing.</p>
<p>Perennial favourites such as cakes and pastries, sandwiches and salads, will be served, alongside Quarter Bar&#8217;s very own beef burger, Club Sandwich and Afternoon Tea.</p>
<p>Come the cocktail hour, the classics come into prominence (Cosmopolitan, Whisky Sour, Mojito, Side Car etc.), side by side with champagne cocktails and seasonally changed specials, taking inspiration from the fresh, market produce of nearby Borough Market &#8211; London&#8217;s most famous gastronomic oasis.</p>
<p>A full bar is of course available with soft drinks, a range of Tea Forté teas, hot chocolate and coffees served by specially trained baristas.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/wembley-stadium/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">119</post-id>	</item>
		<item>
		<title>Callooh Callay</title>
		<link>https://inventory.jeweltheme.com/listings/callooh-callay/</link>
		<comments>https://inventory.jeweltheme.com/listings/callooh-callay/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:36:13 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=115</guid>
		<description><![CDATA[Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware. It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to...]]></description>
				<content:encoded><![CDATA[<p>Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware.</p>
<p>It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to ethical suppliers and procurement. We have a broad range of experience managing change across a variety of organisations.</p>
<ul>
<li>Pan fried fillet of sea bream with soft fennel and fresh herb dressing, cucumber and sesame</li>
<li>Herb marinated Scottish beef fillet with roasted red pepper, salsa verde, broccoli</li>
<li>Pearl barley risotto with porcini and truffled herb mascarpone.</li>
</ul>
<p>For drinks, there&#8217;ll be a strong focus on biodynamic, carbon-neutral and traditional wines, organic spirits and mixers and plenty of cocktails.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/callooh-callay/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">115</post-id>	</item>
		<item>
		<title>Blackfriars Railway Bridge</title>
		<link>https://inventory.jeweltheme.com/listings/blackfriars-railway-bridge/</link>
		<comments>https://inventory.jeweltheme.com/listings/blackfriars-railway-bridge/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 10:51:50 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=103</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/blackfriars-railway-bridge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">103</post-id>	</item>
	</channel>
</rss>
