<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Listings &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/jobs/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>W Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/w-lounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/w-lounge/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:52:55 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=129</guid>
		<description><![CDATA[‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place. Paesan were nominated for Restaurant &#38; Bar Awards as well as shortlisted for menu...]]></description>
				<content:encoded><![CDATA[<p>‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place.</p>
<p>Paesan were nominated for Restaurant &amp; Bar Awards as well as shortlisted for menu of the year, doing it all with the simple yet magic formula of aperitivo, small plates, pasta, carne and pesce.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/w-lounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">129</post-id>	</item>
		<item>
		<title>The Attendant</title>
		<link>https://inventory.jeweltheme.com/listings/the-attendant/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-attendant/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:51:55 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=128</guid>
		<description><![CDATA[Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware. It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to...]]></description>
				<content:encoded><![CDATA[<p>Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware.</p>
<p>It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to ethical suppliers and procurement. We have a broad range of experience managing change across a variety of organisations.</p>
<ul>
<li>Pan fried fillet of sea bream with soft fennel and fresh herb dressing, cucumber and sesame</li>
<li>Herb marinated Scottish beef fillet with roasted red pepper, salsa verde, broccoli</li>
<li>Pearl barley risotto with porcini and truffled herb mascarpone.</li>
</ul>
<p>For drinks, there&#8217;ll be a strong focus on biodynamic, carbon-neutral and traditional wines, organic spirits and mixers and plenty of cocktails.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-attendant/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">128</post-id>	</item>
		<item>
		<title>The Strand Palace</title>
		<link>https://inventory.jeweltheme.com/listings/the-strand-palace/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-strand-palace/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:50:56 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=127</guid>
		<description><![CDATA[An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens...]]></description>
				<content:encoded><![CDATA[<p>An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens of Hyde Park.</p>
<p>An utterly relaxing and elegant retreat in the heart of Knightsbridge, here you can steep in the experience all afternoon &#8211; and into the evening too. At dusk, the luminous chandeliers are dimmed for an intimate glass of champagne.</p>
<p>Here, you can drift into a different world and expect service with an emphasis on good old-fashioned hospitality with a modern touch.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-strand-palace/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">127</post-id>	</item>
		<item>
		<title>Fabrique Bakery</title>
		<link>https://inventory.jeweltheme.com/listings/fabrique-bakery/</link>
		<comments>https://inventory.jeweltheme.com/listings/fabrique-bakery/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:50:03 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=123</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/fabrique-bakery/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">123</post-id>	</item>
		<item>
		<title>Science Museum</title>
		<link>https://inventory.jeweltheme.com/listings/science-museum/</link>
		<comments>https://inventory.jeweltheme.com/listings/science-museum/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:48:49 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=122</guid>
		<description><![CDATA[Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton. Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds...]]></description>
				<content:encoded><![CDATA[<p>Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton.</p>
<p>Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds of fascinating specimens and look into laboratories where scientists are at work.</p>
<p>The Museum offers a wide-ranging programme of temporary exhibitions and events, including chances to join experts in the Darwin Centre’s high-tech Attenborough Studio in topical discussions about science and nature.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/science-museum/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">122</post-id>	</item>
		<item>
		<title>The Grand at Trafalgar Square</title>
		<link>https://inventory.jeweltheme.com/listings/the-grand-at-trafalgar-square/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-grand-at-trafalgar-square/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:42:02 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=121</guid>
		<description><![CDATA[Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton. Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds...]]></description>
				<content:encoded><![CDATA[<p>Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton.</p>
<p>Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds of fascinating specimens and look into laboratories where scientists are at work.</p>
<p>The Museum offers a wide-ranging programme of temporary exhibitions and events, including chances to join experts in the Darwin Centre’s high-tech Attenborough Studio in topical discussions about science and nature.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-grand-at-trafalgar-square/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">121</post-id>	</item>
		<item>
		<title>SkyLounge</title>
		<link>https://inventory.jeweltheme.com/listings/skylounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/skylounge/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:39:22 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=120</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/skylounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">120</post-id>	</item>
		<item>
		<title>Wembley Stadium</title>
		<link>https://inventory.jeweltheme.com/listings/wembley-stadium/</link>
		<comments>https://inventory.jeweltheme.com/listings/wembley-stadium/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:38:30 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=119</guid>
		<description><![CDATA[The Quarter Bar &#38; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter. Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &#38; Lounge seats up to 70 people. Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of...]]></description>
				<content:encoded><![CDATA[<p>The Quarter Bar &amp; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter.</p>
<p>Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &amp; Lounge seats up to 70 people.</p>
<p>Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of platters (English cheeses, Italian, Indian &amp; Asian) to small dishes of vegetarian, fish, seafood and meat options &#8211; perfect for sharing.</p>
<p>Perennial favourites such as cakes and pastries, sandwiches and salads, will be served, alongside Quarter Bar&#8217;s very own beef burger, Club Sandwich and Afternoon Tea.</p>
<p>Come the cocktail hour, the classics come into prominence (Cosmopolitan, Whisky Sour, Mojito, Side Car etc.), side by side with champagne cocktails and seasonally changed specials, taking inspiration from the fresh, market produce of nearby Borough Market &#8211; London&#8217;s most famous gastronomic oasis.</p>
<p>A full bar is of course available with soft drinks, a range of Tea Forté teas, hot chocolate and coffees served by specially trained baristas.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/wembley-stadium/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">119</post-id>	</item>
		<item>
		<title>Hilton London Metropole</title>
		<link>https://inventory.jeweltheme.com/listings/hilton-london-metropole/</link>
		<comments>https://inventory.jeweltheme.com/listings/hilton-london-metropole/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:37:52 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=118</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/hilton-london-metropole/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">118</post-id>	</item>
		<item>
		<title>IMAX Cinema</title>
		<link>https://inventory.jeweltheme.com/listings/imax-cinema/</link>
		<comments>https://inventory.jeweltheme.com/listings/imax-cinema/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:37:10 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=117</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/imax-cinema/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">117</post-id>	</item>
	</channel>
</rss>
