<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Food &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/food/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>Fabrique Bakery</title>
		<link>https://inventory.jeweltheme.com/listings/fabrique-bakery/</link>
		<comments>https://inventory.jeweltheme.com/listings/fabrique-bakery/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:50:03 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=123</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/fabrique-bakery/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">123</post-id>	</item>
		<item>
		<title>Wembley Stadium</title>
		<link>https://inventory.jeweltheme.com/listings/wembley-stadium/</link>
		<comments>https://inventory.jeweltheme.com/listings/wembley-stadium/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:38:30 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=119</guid>
		<description><![CDATA[The Quarter Bar &#38; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter. Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &#38; Lounge seats up to 70 people. Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of...]]></description>
				<content:encoded><![CDATA[<p>The Quarter Bar &amp; Lounge, opened in May 2011, sits at the heart of the redevelopment of the London Bridge Quarter.</p>
<p>Relaxed and comfortable with a chic, contemporary atmosphere, Quarter Bar &amp; Lounge seats up to 70 people.</p>
<p>Serving social food ideal for relaxed conversations and meetings, menu choices range from a wide selection of platters (English cheeses, Italian, Indian &amp; Asian) to small dishes of vegetarian, fish, seafood and meat options &#8211; perfect for sharing.</p>
<p>Perennial favourites such as cakes and pastries, sandwiches and salads, will be served, alongside Quarter Bar&#8217;s very own beef burger, Club Sandwich and Afternoon Tea.</p>
<p>Come the cocktail hour, the classics come into prominence (Cosmopolitan, Whisky Sour, Mojito, Side Car etc.), side by side with champagne cocktails and seasonally changed specials, taking inspiration from the fresh, market produce of nearby Borough Market &#8211; London&#8217;s most famous gastronomic oasis.</p>
<p>A full bar is of course available with soft drinks, a range of Tea Forté teas, hot chocolate and coffees served by specially trained baristas.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/wembley-stadium/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">119</post-id>	</item>
		<item>
		<title>Design Museum</title>
		<link>https://inventory.jeweltheme.com/listings/design-museum/</link>
		<comments>https://inventory.jeweltheme.com/listings/design-museum/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:36:40 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=116</guid>
		<description><![CDATA[An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens...]]></description>
				<content:encoded><![CDATA[<p>An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens of Hyde Park.</p>
<p>An utterly relaxing and elegant retreat in the heart of Knightsbridge, here you can steep in the experience all afternoon &#8211; and into the evening too. At dusk, the luminous chandeliers are dimmed for an intimate glass of champagne.</p>
<p>Here, you can drift into a different world and expect service with an emphasis on good old-fashioned hospitality with a modern touch.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/design-museum/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">116</post-id>	</item>
		<item>
		<title>Shoreditch Pizza</title>
		<link>https://inventory.jeweltheme.com/listings/shoreditch-pizza/</link>
		<comments>https://inventory.jeweltheme.com/listings/shoreditch-pizza/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 10:58:50 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=107</guid>
		<description><![CDATA[An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens...]]></description>
				<content:encoded><![CDATA[<p>An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens of Hyde Park.</p>
<p>An utterly relaxing and elegant retreat in the heart of Knightsbridge, here you can steep in the experience all afternoon &#8211; and into the evening too. At dusk, the luminous chandeliers are dimmed for an intimate glass of champagne.</p>
<p>Here, you can drift into a different world and expect service with an emphasis on good old-fashioned hospitality with a modern touch.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/shoreditch-pizza/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">107</post-id>	</item>
		<item>
		<title>Sky Garden</title>
		<link>https://inventory.jeweltheme.com/listings/sky-garden/</link>
		<comments>https://inventory.jeweltheme.com/listings/sky-garden/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 10:55:58 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=105</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/sky-garden/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">105</post-id>	</item>
		<item>
		<title>Counter Café</title>
		<link>https://inventory.jeweltheme.com/listings/counter-cafe/</link>
		<comments>https://inventory.jeweltheme.com/listings/counter-cafe/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 20:33:32 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=100</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/counter-cafe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">100</post-id>	</item>
		<item>
		<title>Bar Boloud</title>
		<link>https://inventory.jeweltheme.com/listings/bar-boloud/</link>
		<comments>https://inventory.jeweltheme.com/listings/bar-boloud/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 19:35:09 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=97</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/bar-boloud/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">97</post-id>	</item>
	</channel>
</rss>
