<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Cafe &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/cafe/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>Callooh Callay</title>
		<link>https://inventory.jeweltheme.com/listings/callooh-callay/</link>
		<comments>https://inventory.jeweltheme.com/listings/callooh-callay/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:36:13 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=115</guid>
		<description><![CDATA[Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware. It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to...]]></description>
				<content:encoded><![CDATA[<p>Think.Eat.Drink was established in 2009 by Jamie Grainger-Smith, with the vision of developing a specialised consultancy dedicated to helping companies in the food and drinks industry be more forward-thinking and environmentally aware.</p>
<p>It provides guidance, advice and support on many different levels, ranging from food and drink menus, vision, strategies, sustainable design and advice, waste strategies to ethical suppliers and procurement. We have a broad range of experience managing change across a variety of organisations.</p>
<ul>
<li>Pan fried fillet of sea bream with soft fennel and fresh herb dressing, cucumber and sesame</li>
<li>Herb marinated Scottish beef fillet with roasted red pepper, salsa verde, broccoli</li>
<li>Pearl barley risotto with porcini and truffled herb mascarpone.</li>
</ul>
<p>For drinks, there&#8217;ll be a strong focus on biodynamic, carbon-neutral and traditional wines, organic spirits and mixers and plenty of cocktails.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/callooh-callay/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">115</post-id>	</item>
		<item>
		<title>Darkroom</title>
		<link>https://inventory.jeweltheme.com/listings/darkroom/</link>
		<comments>https://inventory.jeweltheme.com/listings/darkroom/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:35:11 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=113</guid>
		<description><![CDATA[Bt also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the...]]></description>
				<content:encoded><![CDATA[<p>Bt also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#8216;Content here, content here&#8217;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#8216;lorem ipsum&#8217; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected</p>
<p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/darkroom/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">113</post-id>	</item>
		<item>
		<title>London RIB Voyages</title>
		<link>https://inventory.jeweltheme.com/listings/london-rib-voyages/</link>
		<comments>https://inventory.jeweltheme.com/listings/london-rib-voyages/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:25:24 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=125</guid>
		<description><![CDATA[Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared...]]></description>
				<content:encoded><![CDATA[<p>Set in Knightsbridge, award-winning Bar Boulud, London is a French-inspired bistro and wine bar at Mandarin Oriental Hyde Park, under the direction of renowned Lyon-born chef Daniel Boulud. The full à la carte menu, served Monday through Saturday and Sunday evenings, is based on seasonal, rustic French cooking with an array of charcuterie specially prepared onsite, as well as Boulud’s popular American transplants, the “Yankee”, “Piggie” and signature “BB Burger”.</p>
<p>As an excellent option for pre-theatre dining, Bar Boulud offers a £17 two course or £19 three course ‘Bouchon Menu’, changing weekly Monday to Friday, available until 7pm. New to 2015, Bar Boulud is now serving Sunday brunch from 11am to 3.30pm at £39.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/london-rib-voyages/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">125</post-id>	</item>
		<item>
		<title>Counter Café</title>
		<link>https://inventory.jeweltheme.com/listings/counter-cafe/</link>
		<comments>https://inventory.jeweltheme.com/listings/counter-cafe/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 20:33:32 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=100</guid>
		<description><![CDATA[Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good...]]></description>
				<content:encoded><![CDATA[<p>Although marooned in an industrial estate in Hackney Wick, The Counter is well worth a trip from far afield for its sturdy New Zealand breakfasts, perfect coffee and laidback atmosphere. Siblings Tom and Jess are the double act behind the venture. Growing up in Auckland, the pair were initially appalled by the lack of good coffee in London when they made it across the pond. Not wanting to leave us in caffeine poverty (kind souls) they took it upon themselves to set up The Counter in creative haven Hackney Wick.</p>
<p>Whether you’re after a croissant (£2ish), baguette with bacon and avocado (£4ish) or the full monty (around a tenner), The Counter has something for everyone. They’ve also branched out into pies, but it’s the breakfasts that keep us repeatedly traipsing across London.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/counter-cafe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">100</post-id>	</item>
		<item>
		<title>The Knightsbridge Lounge</title>
		<link>https://inventory.jeweltheme.com/listings/the-knightsbridge-lounge/</link>
		<comments>https://inventory.jeweltheme.com/listings/the-knightsbridge-lounge/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 19:23:05 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=96</guid>
		<description><![CDATA[An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens...]]></description>
				<content:encoded><![CDATA[<p>An idyllic Hyde Park-inspired tea parlour, hot chocolate and champagne bar, The Knightsbridge Lounge at The Park Tower Knightsbridge is the perfect destination for a spot of afternoon tea. Served under a canopy of elegant magnolia blossoms, the ambience is influenced by its distinguished location in between the cobbled street of Knightsbridge and the Royal gardens of Hyde Park.</p>
<p>An utterly relaxing and elegant retreat in the heart of Knightsbridge, here you can steep in the experience all afternoon &#8211; and into the evening too. At dusk, the luminous chandeliers are dimmed for an intimate glass of champagne.</p>
<p>Here, you can drift into a different world and expect service with an emphasis on good old-fashioned hospitality with a modern touch.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/the-knightsbridge-lounge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">96</post-id>	</item>
	</channel>
</rss>
