/* Dropdown Button */
.sp-dropbtn.button {
    padding: 1px 24px 20px 5px;
    font-size: 20px;
    /*background-color: #4CAF50;
    color: white;
    border: none;*/
    cursor: pointer;
}

/* Dropdown button on hover & focus
.sp-dropbtn:hover, .sp-dropbtn:focus {
    background-color: #3e8e41;
}
 */
 
/* The container <div> - needed to position the dropdown content */
.sp-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.sp-dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.sp-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.sp-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.sp-dropdown.sp-show .sp-dropdown-content {display:block;}

div.fb-like  {
    transform: scale(1.3);
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    -o-transform: scale(1.3); 
    -moz-transform: scale(1.3); 
    transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
}
.wp-core-ui .button.button-alert, .wp-core-ui .button.button-alert:hover {
    background: #f79797;
}
.wp-core-ui .button.remove-folder-button {
    min-width: 120px;
}
.sp-notice {
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}
@media(max-width: 1249px) {
    .sp-notice {
        margin: 5px 15px 2px;
    }
}
.sp-notice-info {
    border-left-color: #00a0d2;
}
.sp-notice-success {
    border-left-color: #46b450;
}
li.sp-conflict-plugins-list {
    line-height: 28px;
    list-style: disc;
    margin-left: 20px;
}
li.sp-conflict-plugins-list a.button {
    margin-left: 10px;
}
div.short-pixel-bulk-page input.dial {
    font-size: 16px !important;
}
div.short-pixel-bulk-page h1 {
    margin-bottom:20px;
}
div.bulk-progress div.sp-h2 {
    margin-top:0;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}
div.bulk-progress-partners {
    margin-top: 20px;
}
div.bulk-progress.bulk-progress-partners a div {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    margin-left: 30px;
    font-size: 1.2em;
}
div.bulk-progress .bulk-progress-indicator,
div.sp-quota-exceeded-alert .bulk-progress-indicator {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    margin-left: 10px;
    float: left;
    height: 90px;
    overflow: hidden;
    border: 1px solid #1CAECB;
}
div.wrap.short-pixel-bulk-page .bulk-notice-container {
    margin-top: 15px;
    position: absolute;
    width: 500px;
}
div.wrap.short-pixel-bulk-page .bulk-notice-container .bulk-notice-msg {
    text-align: center;
    margin: 10px 0 0 32px;
    overflow: hidden;
    border: 1px solid #1CAECB;
    background-color: #9ddbe0;
    border-radius: 5px;
    padding: 7px 10px 10px;
    display: none;
    max-width: 600px;
    margin-right:20px;
}
div.wrap.short-pixel-bulk-page .bulk-notice-container .bulk-notice-msg.bulk-error {
    border: 1px solid #b5914d;
    background-color: #ffe996;
    margin-right:20px;
}
div.wrap.short-pixel-bulk-page .bulk-notice-container .bulk-notice-msg.bulk-error.bulk-error-fatal {
    border: 1px solid #c32525;
    background-color: #ff969d;
}
div.wrap.short-pixel-bulk-page .bulk-notice-msg img {
    float:left;
    margin-top:3px;
    margin-right: 5px;
}
div.sp-bulk-summary {
    float:right;
    margin:8px 5px 3px 20px;
}
input.dial {
    box-shadow: none;
}
.shortpixel-table .column-filename {
    max-width: 32em;
    width: 40%;
}
.shortpixel-table .column-folder {
    max-width: 20em;
    width: 20%;
}
.shortpixel-table .column-media_type {
    max-width: 8em;
    width: 10%;
}
.shortpixel-table .column-status {
    max-width: 16em;
    width: 15%;
}
.shortpixel-table .column-options {
    max-width: 16em;
    width: 15%;
}

.form-table table.shortpixel-folders-list tr {
   background-color: #eee;
}
.form-table table.shortpixel-folders-list td {
    padding: 5px 10px;
}
div.shortpixel-rate-us {
    display:inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-weight: bold;
}
div.shortpixel-rate-us > a {
    vertical-align: middle;
    padding: 1px 5px 0;
    text-align:center;
    display: inline-block;
}
div.shortpixel-rate-us > a > span {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
div.shortpixel-rate-us > a > img {
    padding-top: 7px;
}
div.shortpixel-rate-us > a:active,
div.shortpixel-rate-us > a:hover,
div.shortpixel-rate-us > a:focus {
    outline:0;
    border-style: none;
}
.sp-loading-small {
    margin-top: 2px;
    float: left;
    margin-right: 5px;
}

li.shortpixel-toolbar-processing > a.ab-item > div,
#wpadminbar li.shortpixel-toolbar-processing > a.ab-item > div{
/*    background-image: url("/wp-content/plugins/shortpixel-image-optimiser/res/img/loading-dark-big.gif");
    background-position: center center;
    background-repeat: no-repeat;
*/    height: 33px;
    margin-top: -1px;
    padding: 0 3px;    
}
li.shortpixel-toolbar-processing > a.ab-item > div > img,
#wpadminbar li.shortpixel-toolbar-processing > a.ab-item > div > img{
    margin-right: 2px;
    margin-top: 6px;    
}
li.shortpixel-toolbar-processing > a.ab-item > div > span.shp-alert,
#wpadminbar li.shortpixel-toolbar-processing > a.ab-item > div > span.shp-alert{
    display:none;
}
li.shortpixel-toolbar-processing.shortpixel-alert > a.ab-item > div > span.shp-alert,
#wpadminbar li.shortpixel-toolbar-processing.shortpixel-alert > a.ab-item > div > span.shp-alert{
    display: inline;
    font-size: 26px;
    color: red;
    font-weight: bold;
    vertical-align: top;
}
li.shortpixel-toolbar-processing.shortpixel-alert > a.ab-item > div,
#wpadminbar li.shortpixel-toolbar-processing.shortpixel-alert > a.ab-item > div{
    background-image: none;
}
.sp-quota-exceeded-alert {
    background-color: #fff; 
    border-left: 4px solid #ff0000; 
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); 
    padding: 1px 12px;
}
.shortpixel-hide {
    display:none;
}
.shortpixel-clearfix {
    width:100%;
    float:left;
}
div.sp-modal-shade {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
div.shortpixel-modal {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    min-width: 300px; /* Could be more or less, depending on screen size */
}
div.shortpixel-modal .sp-close-button, div.shortpixel-modal .sp-close-upgrade-button {
    float: right;
    margin-top: 0px;
    background: transparent;
    border: none;
    font-size: 22px;
    line-height: 10px;
    cursor: pointer;
}
.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
    font-family: inherit;
    font-size: 16px;
}
div.sp-modal-title {
    font-size: 22px;
}
div.sp-modal-body {
    margin-top: 20px;
}
.short-pixel-bulk-page p {
    margin: 0.6em 0;
}
div.shortpixel-modal .sptw-modal-spinner {
    background-image: url("../../../plugins/shortpixel-image-optimiser/res/img/spinner2.gif");
    background-repeat: no-repeat;
    background-position: center;
}
.short-pixel-bulk-page form.start {
    display:table; 
    content:" "; 
    width:98%;
    background-color:white;
    padding:0px 0px 0;
    position:relative;
    /*margin-top: 2em;*/
}

.bulk-stats-container{
    display: inline-block; 
    min-width:450px; 
    width: 45%;
    float:left;
    padding-right: 50px;
    font-size:1.1em;
    line-height: 1.5em;
}
.bulk-text-container{
    display: inline-block; 
    min-width:440px; 
    width: 45%;
    float:left;
    padding-right: 50px;
}
.bulk-text-container h3{
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
.bulk-wide {
    display: inline-block; 
    width: 90%;
    float:left;        
    margin-top: 25px;
}
.bulk-stats-container .bulk-label{
    width:220px; 
    display:inline-block;
}
.bulk-stats-container .bulk-val{
    width:50px; 
    display:inline-block; 
    text-align: right;
}
.bulk-stats-container .bulk-total{
    font-weight: bold; 
    margin-top:10px;
    margin-bottom:10px;
}
.wp-core-ui .bulk-play{
    display: inline; 
    width: 310px;
    float:left;
    margin-bottom:20px;
}
.wp-core-ui .bulk-play.bulk-nothing-optimize {
    font-weight: bold;
    color: #0080b2;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 60px;
    padding: 5px 12px;    
}
.wp-core-ui .bulk-play a.button{
    height:60px;
    margin-top: 27px;
    width: 290px;
    overflow: hidden;
}
.wp-core-ui .column-wp-shortPixel .sp-column-actions  {
    max-width: 140px;
    float:right;
    text-align: right;
}
.wp-core-ui .column-wp-shortPixel .sp-column-actions .button.button-smaller {
    margin-right: 0px;
}
.wp-core-ui .column-wp-shortPixel .button.button-smaller {
    font-size: 13px;
    padding:0px 5px;
    margin-bottom: 4px;
    height:20px;
    line-height:16px;
    float:right;
}
.wp-core-ui .bulk-play a.button .bulk-btn-img {
    float:left;
    display:inline-block;
    padding-top:6px;
}
.wp-core-ui .bulk-play a.button .bulk-btn-txt {
    float:left;
    display:inline-block;
    text-align: right;
    line-height: 1.3em;
    margin: 11px 10px;
}
.wp-core-ui .bulk-play a.button .bulk-btn-txt span.label {
    font-size: 1.6em;
}
.wp-core-ui .bulk-play a.button .bulk-btn-txt span.total {
    font-size: 1.4em;
}
.bulk-progress {
    padding: 20px 32px 17px;
    background-color: #ffffff;
    /*border: 1px dotted #c4c2c2;*/
}
.bulk-progress.bulk-stats > div{
    display:inline-block;
}
.bulk-progress.bulk-stats > div.label{
    width: 320px;
}
.bulk-progress.bulk-stats > div.stat-value{
    width: 80px;
    text-align: right;
}
.progress {
    background-color: #ecedee;
    height: 30px;
    position: relative;
    width: 60%;
    display: inline-block;
    margin-right: 28px;
}
.progress .progress-img {
    position: absolute;
    top: -10px;
    z-index: 2;
    margin-left: -35px;
    line-height: 48px;
    font-size: 22px;
    font-weight: bold;
}
.progress .progress-img span {
    vertical-align: top;
    margin-left: -7px;
}
.progress .progress-left {
    background-color: #1cbecb;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}
.bulk-estimate {
    font-size: 20px;
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
}
.wp-core-ui .button-primary.bulk-cancel {
    float: right;
    height: 30px;
}
.short-pixel-block-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.sp-floating-block.bulk-slider-container {
    display: none;
}
.sp-floating-block.sp-notice.bulk-notices-parent {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 500px !important;
}
.bulk-slider-container {
    margin-top: 20px;
    min-height: 300px;
    overflow: hidden;
}
.bulk-slider-container h2{
    margin-bottom: 15px;
}
.bulk-slider-container span.filename {
    font-weight: normal;
}
.bulk-slider {
    display: table;
    margin: 0 auto;
}
.bulk-slider .bulk-slide {
    /*position: absolute;*/
    margin: 0 auto;
    padding-left: 120px;
    display: inline-block;
    font-weight: bold;
}
.bulk-slider .img-original,
.bulk-slider .img-optimized{
    display:inline-block; 
    margin-right:20px;  
    text-align: center;
}
.bulk-slider .img-original div,
.bulk-slider .img-optimized div{
    max-height: 450px;
    overflow: hidden;
}
.bulk-slider .img-original img,
.bulk-slider .img-optimized img{
    max-width: 300px;
}
.bulk-slider .img-info{
    display:inline-block; 
    vertical-align: top;
    font-size: 48px; 
    max-width: 150px;
    padding: 10px 0 0 20px;
}
.bulk-slide-images {
    display: inline-block;
    border: 1px solid #1CAECB;
    padding: 15px 0 0 20px;
}
p.settings-info {
    padding-top: 0px; 
    color: #818181;
    font-size:13px !important;
}

/* TABS CONTROLS */
article.sp-tabs {
    position: relative;
    display: block;
    width: 100%;
    height: 1100px;
    margin: 2em auto;
}
article.sp-tabs section {
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    height: 1100px;
    width:94%;
    padding: 10px 20px;
    background-color: #ddd;
    /* border-radius: 5px; */
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    z-index: 0;
}
article.sp-tabs section:first-child {
    z-index: 1;
}
article.sp-tabs section h2 {
    position: absolute;
    font-size: 1.3em;
    font-weight: normal;
    width: 180px;
    height: 1.8em;
    top: -1.8em;
    left: 10px;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ddd;
    /* border-radius: 5px 5px 0 0; */
}
article.sp-tabs section:nth-child(2) h2 {
    left: 192px;
}
article.sp-tabs section:nth-child(3) h2 {
    left: 374px;
}
article.sp-tabs section:nth-child(4) h2 {
    left: 556px;
}
article.sp-tabs section h2 a {
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: #23282d;
    outline: 0 none;
}
article.sp-tabs section h2 a:focus,
article.sp-tabs section#tab-resources a:focus {
    box-shadow: none;
    outline: none;
}
article.sp-tabs section.sel-tab,
article.sp-tabs section.sel-tab h2 {
    color: #333;
    background-color: #fff;
    z-index: 2;
}
/*article.sp-tabs section,
article.sp-tabs section h2 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
*/
/* Resources */
@media(min-width: 1000px) {
    section#tab-resources .col-md-6 {
        display: inline-block;
        width: 45%;
    }
}
@media(max-width: 999px) {
    section#tab-resources .col-sm-12 {
        display: inline-block;
        width: 100%;
    }
}
section#tab-resources .text-center {
    text-align: center;
}
section#tab-resources p {
    font-size: 16px;
}

/* ShortPixel columns layout */
.wrap.short-pixel-bulk-page {
    margin-right: 0;
}
.sp-container {
    overflow: hidden;
    display:block;
    width:100%;
}
.sp-floating-block {
    overflow: hidden;
    display:inline-block;
    float: left;
    margin-right: 1.1% !important;
}
.sp-full-width {
    width: 98.8%;
    box-sizing: border-box;
}
.sp-double-width {
    width: 65.52%;
    box-sizing: border-box;
}
.sp-single-width {
    width: 32.23%;
    box-sizing: border-box;
}
@media(max-width: 1759px) {
    .sp-floating-block {
        margin-right: 1.3% !important;
    }
    .sp-double-width, .sp-full-width {
        width: 98.65%;
    }
    .sp-single-width {
        width: 48.7%;
    }
}
@media(max-width: 1249px) {
    .sp-floating-block {
        margin-right: 2% !important;
    }
    .sp-double-width, .sp-full-width, .sp-single-width {
        width: 97%;
    }
}

/*workaround for bad style inline css in the plugin <<WooCommerce Remove /product & /product-category>> that's causing conflict*/
.sp-tabs h2:before{
    content:none;
}

#wpadminbar .shortpixel-toolbar-processing .cssload-container {
    width: 100%;
    height: 24px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: -1px;
}
#wpadminbar .shortpixel-toolbar-processing.shortpixel-quota-exceeded .cssload-container{
    display: none;
}

#wpadminbar .shortpixel-toolbar-processing .cssload-speeding-wheel {
    width: 24px;
    height: 24px;
    opacity: 0.7;
    margin: 0 auto;
    border: 4px solid rgb(28,191,203);
    border-radius: 50%;
    border-left-color: transparent;
    animation: cssload-spin 2000ms infinite linear;
            -o-animation: cssload-spin 2000ms infinite linear;
            -ms-animation: cssload-spin 2000ms infinite linear;
            -webkit-animation: cssload-spin 2000ms infinite linear;
            -moz-animation: cssload-spin 2000ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}