<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Art Gallery &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/art-gallery/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site>	<item>
		<title>Pace London</title>
		<link>https://inventory.jeweltheme.com/listings/pace-london/</link>
		<comments>https://inventory.jeweltheme.com/listings/pace-london/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 16:35:42 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=114</guid>
		<description><![CDATA[‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place. Paesan were nominated for Restaurant &#38; Bar Awards as well as shortlisted for menu...]]></description>
				<content:encoded><![CDATA[<p>‘A place to share simple and honest food’? Well, Paesan at Exmouth Market sure don’t let on that there is something very extraordinary about them. Serving you true Italian peasant dishes, lovingly prepared and created, and in a most inspiring place.</p>
<p>Paesan were nominated for Restaurant &amp; Bar Awards as well as shortlisted for menu of the year, doing it all with the simple yet magic formula of aperitivo, small plates, pasta, carne and pesce.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/pace-london/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">114</post-id>	</item>
		<item>
		<title>Bank of England</title>
		<link>https://inventory.jeweltheme.com/listings/bank-of-england-museum-bank-of-england-museum/</link>
		<comments>https://inventory.jeweltheme.com/listings/bank-of-england-museum-bank-of-england-museum/#respond</comments>
		<pubDate>Wed, 25 Jan 2017 10:50:24 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=102</guid>
		<description><![CDATA[Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton. Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds...]]></description>
				<content:encoded><![CDATA[<p>Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton.</p>
<p>Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds of fascinating specimens and look into laboratories where scientists are at work.</p>
<p>The Museum offers a wide-ranging programme of temporary exhibitions and events, including chances to join experts in the Darwin Centre’s high-tech Attenborough Studio in topical discussions about science and nature.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/bank-of-england-museum-bank-of-england-museum/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">102</post-id>	</item>
		<item>
		<title>Royal Academy or Arts</title>
		<link>https://inventory.jeweltheme.com/listings/royal-academy-or-arts/</link>
		<comments>https://inventory.jeweltheme.com/listings/royal-academy-or-arts/#respond</comments>
		<pubDate>Tue, 24 Jan 2017 20:43:33 +0000</pubDate>
		<dc:creator><![CDATA[Liton]]></dc:creator>
		
		<guid isPermaLink="false">http://inventory.jeweltheme.com/?post_type=job_listing&#038;p=101</guid>
		<description><![CDATA[Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton. Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds...]]></description>
				<content:encoded><![CDATA[<p>Hundreds of exciting, interactive exhibits in one of London’s most beautiful landmark buildings. Highlights include the popular Dinosaurs gallery, Mammals display with the unforgettable model blue whale and the spectacular Central Hall, home to the Museum’s iconic Diplodocus skeleton.</p>
<p>Don’t miss the state-of-the-art Darwin Centre Cocoon where, on a self-guided tour, you can see hundreds of fascinating specimens and look into laboratories where scientists are at work.</p>
<p>The Museum offers a wide-ranging programme of temporary exhibitions and events, including chances to join experts in the Darwin Centre’s high-tech Attenborough Studio in topical discussions about science and nature.</p>
]]></content:encoded>
			<wfw:commentRss>https://inventory.jeweltheme.com/listings/royal-academy-or-arts/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">101</post-id>	</item>
	</channel>
</rss>
