<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Movies &#8211; Inventory</title>
	<atom:link href="https://inventory.jeweltheme.com/listing-category/movies/feed/" rel="self" type="application/rss+xml" />
	<link>https://inventory.jeweltheme.com</link>
	<description>WordPress Directory Theme</description>
	<lastBuildDate>Sun, 12 Mar 2017 11:11:10 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.9</generator>
<site xmlns="com-wordpress:feed-additions:1">123321845</site></channel>
</rss>
